* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.tree-container {
  background-color: #333;
  border: 2px solid #ddd;
  padding: 7px;
  border-radius: 1px;
}

.comp-with-children-container {
  display: block;
  position: relative;
  left: 20px;
}

.leaf-comp-container {
  display: block;
  position: relative;
  left: 40px;
}

.nav-leaf-comp-container {
  margin-left: 8px;
}

.add-file-container {
  background-color: #333;
  border: 2px solid #ddd;
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 1px;
}

.add-file-header {
  margin-top: 5px;
  margin-bottom: 10px;
}

.add-file-message {
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 6px;
}

.add-file-btn-container {
  display: flex;
  justify-content: center;
}

.file-input {
  margin-top: 10px;
  margin-bottom: 3px;
  width: 90px;
  border-radius: 3px;
}

.file-input:hover {
  cursor: pointer;
}

.generate-tree-message {
  padding: 5px;
  font-size: 14px;
}

.node_icon {
  margin-right: 5px;
}

.info_icon {
  color: #191637;
  margin-left: 8px;
}


#tips{
  background-color: #7e74fa;
  padding: 10px;
  border-radius: 5px;
}

.leaf-Node h3, .leaf-Node a {
  display: inline;
}



.data-key{
  color: rgb(155, 18, 155);
  font-family: monospace;
}

.node_icon:hover,
.comp-with-children-name:hover,
.fav_icon:hover,
.info_icon:hover {
  cursor: pointer;
}

.container-intro {
  position: relative;
  height: 100%;
}

.container-intro h1,
.container-intro a {
  display: inline;
  vertical-align: top;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 28px;
}

.fav_icon:hover {
  color: #7e74fa;
}

.fav_icon {
  margin: 3px;
  color: #191637;
}
