.card {
    width: 18rem;
    height: 22.5rem;
    margin-right: 3rem;
    text-align: center;
    color: rgb(97, 8, 97);
    margin-bottom: 2rem;
    box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.294);
  }
  
  .card-header {
    padding: 0;
    position: relative;
    height: 70%;
  }
  
  .heart {
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.678);
    width: 3rem;
    height: 3rem;
    z-index: 100;
    position: absolute;
    bottom: 78%;
    left: 78%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
  }
  
  .heart img {
    width: 1.75rem;
  }
  
  .card-img {
    width: 100%;
    height: 100%;
  }
  
  .card h3 {
    margin: 0.5rem 0;
  }
  
  .card p {
    margin: 0;
  }