* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.root-tree {
  /* margin-left: 10px; */
  font-size: 20px;
}

#main-app-root {
  margin-left: 0 !important;
  padding-left: 0 !important;
  color: #eee;
  border: 0 !important;
}

.subtree {
  /* color: orange; */
  /* list-style-type: square; */
  /* margin-left: 30px; */
  /* margin-top: 16px; */
  /* border-left: 1px solid #c8a2c8; */
}

.top-level-tree {
  list-style: none;
  margin-left: 30px;
  margin-bottom: 14px;
  color: #eee;
  padding-left: 5px;
  padding-top: 16px;
  padding-bottom: 2px;
  border-left: 1px solid #666;
  border-bottom: 1px solid #666;
  cursor: pointer;
}
.tree {
  /* margin-top: 20px; */
  padding-top: 16px;
  padding-left: 5px;
  padding-bottom: 2px;
  margin-left: 40px;
  margin-bottom: 5px;
  color: #eee;
  cursor: pointer;
  border-left: 1px solid #666;
  border-bottom: 1px solid #666;
}

.third-level {
  margin-left: 70px;
  padding-top: 16px;
  padding-bottom: 2px;
  padding-left: 5px;
  list-style: none;
  color: #eee;
  border-left: 1px solid #666;
  border-bottom: 1px solid #666;
}
.plus,
.minus {
  display: flow-root;
  position: relative;
  left: 10px;
}
.subtree {
  display: none;
}
.active {
  display: block;
  margin-left: 2px;
}
.plus::before {
  content: '+';
  color: yellow;
  display: inline-block;
  margin-right: 6px;
}
.minus::before {
  content: '-';
  color: yellow;
  display: inline-block;
  margin-right: 6px;
}

/* 
body {
  background-color: 'red';
} */

.main-container {
  background-color: #333;
  height: 100%;
}
